@font-face {
  font-family: 'Merriweather Sans';
  src: url('./assets/fonts/MerriweatherSans-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

/* general styles */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:root {
  --bg-dark: #000000;
  --gold: #bdae82;
  --white: #ffffff;
}

body {
  background-color: var(--bg-dark);
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 120px;
  color: var(--white);
}

ul {
  list-style: none;
}

/* TODO: before adding to cross-check change max-width to width */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* header */
.header__container {
  display: flex;
  margin-top: 1rem;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
}

.nav__link {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 3.125rem;
  color: var(--white);
  text-decoration: none;
  padding: 0 1rem;
}

.nav__link:hover {
  color: var(--gold);
  transition: 0.3s;
}

.lang-switcher {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 3.125rem;
  padding-left: 1rem;
  border: none;
  background-color: transparent;
  color: var(--white);
  text-decoration: none;
}

.lang-switcher--active {
  color: var(--gold);
  transition: 0.3s;
}